{
  "id": "<LEDGER_URL>/transfers/<TRANSFER_ID>",
  "ledger": "<LEDGER_URL>",
  "debits": [
    {
      "account": "<LEDGER_URL>/accounts/<SENDER_ACCOUNT>",
      "amount": "50"
    }
  ],
  "credits": [
    {
      "account": "<LEDGER_URL>/accounts/<RECEIVER_ACCOUNT>",
      "amount": "50"
    }
  ],
  "execution_condition": "ni:///sha-256;47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU?fpt=preimage-sha-256&cost=0",
  "expires_at": "2017-12-16T00:00:01.000Z"
}
